<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Configurar VOX</title>
    </head>
<body>
    <h1>Configuración de Conexión VOX</h1>
    
    {% if msg %}
        <p style="color: blue; font-weight: bold;">{{ msg }}</p>
    {% endif %}

    <form method="POST" action="/estacion/config-vox">
        <label>IP del Servidor VOX:</label><br>
        <input type="text" name="ip" value="{{ cred.vox_ip }}" required placeholder="Ej: 192.168.1.50"><br><br>

        <label>Usuario VOX:</label><br>
        <input type="text" name="u" value="{{ cred.vox_usuario }}" required placeholder="Usuario"><br><br>

        <label>Contraseña VOX:</label><br>
        <input type="text" name="p" value="{{ cred.vox_clave }}" required placeholder="Contraseña"><br><br>

        <button type="submit">GUARDAR Y VINCULAR</button>
    </form>
    
    <br>
    <a href="/estacion/panel">Volver al Panel</a>
</body>
</html>